p{
  background-color: tomato ;
  color: white;
  padding: 10px;  
  border-radius: 5px;
  font-size: 16px;
  margin: 20px;
}
h1{
  text-align: center;
  color: darkblue;
  font-size: 2em;
  margin-top: 20px;
}